#navbar-logo{
    width: auto;
    height: 90px;
}

#brand-text{
    font-size: larger;
}

#welcome-banner{
    background-color: #1B4386;
}

#banner-text{
    text-align: center;
    color: white;
}

#columns{
    text-align: center;
    background-color: rgb(30, 57, 211);
    padding: 10px;
}

#col{
    text-align: center;
    background-color: rgb(30, 57, 211);
    padding: 10px;
}

#allColumns{
    text-align: center;
    padding-top: 10px;
}